Repository GradienceTeam/Gradience, pull requests merged in 2022-10, with the labels that each got.

#576 feat: add logout (#573)
  gradience/main.py
  gradience/modules/utils.py
Labels: hacktoberfest, hacktoberfest-accepted

#626 Firefox theme plugin: correctly parse installations with multipe profiles
  data/plugins/firefox_gnome_theme.py
Labels: hacktoberfest, hacktoberfest-accepted

#628 Fix #624, always save as User.json
  gradience/main.py
  gradience/plugins_list.py
Labels: hacktoberfest, hacktoberfest-accepted

#633 README Refactoring
  .github/workflows/ci.yml
  README.md
Labels: area/documentation, enhancement

#634 Fix issues with CSS parser (partially)
  data/ui/custom_css_group.blp
  gradience/ui/custom_css_group.py
  gradience/utils/css.py
Labels: area/css, bug/cssparser
