Repository GradienceTeam/Gradience, pull requests merged in 2023-01, with the labels that each got.

#694 Use hexadecimal format unless alpha channel is specified
  gradience/backend/theming/preset_utils.py
  gradience/backend/utils/colors.py
  gradience/frontend/widgets/option_row.py
Labels: enhancement, area/preset, status/pr-approved

#695 Show `Unsaved preset` dialog when switching to other preset
  gradience/frontend/dialogs/save_dialog.py
  gradience/frontend/main.py
  gradience/frontend/widgets/builtin_preset_row.py
  gradience/frontend/widgets/preset_row.py
Labels: enhancement, area/preset, area/UI, status/pr-waiting-for-review

#700 misc: CI improvements
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/greetings.yml
  .github/workflows/pypi-dependencies.yml
  .github/workflows/pypi_deps.yml
  .github/workflows/pysa.yml
  .github/workflows/typos.yml
  typos.toml
Labels: area/meta
